@font-face {
    font-family: "Bree Serif";
    src: url("../../../fonts/Bree_Serif/BreeSerif-Regular.ttf");
  }

.bg {
    margin-right:50px;
    height:100%;
    width: 50%;
    text-decoration: none;
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: center ;
}


.icon {
    padding:80px;
    width:200px;
    height:100px;
    margin-bottom: 40px;
    transition: all 0.3s ease-out;
    background-image: url("../../../img/icon4.png");
    background-size: 6em ;
    background-position:center;
    background-repeat: no-repeat;
    text-decoration:none;
    font-size:1.8em;
}

.icon:hover {
    font-size: 2em;
    color:rgba(255, 255, 255, 0.822)
}

.text {
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-family:"Bree Serif";
    width:100%;
    margin-top: 10%;
}

.text2 {
    display:flex;
    padding-top: 40px;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-family:"Bree Serif";
    width:100%;
    align-items: center;
    justify-content: center;
}
