.flag {
    width: 60%;
    height:70px;
    padding: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;

}

.title {
    color: rgba(0, 0, 0, 0.664);
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
}

.info{
    width:200px;
    height: 250px;
    max-width:200px;
    max-height: 250px;
    margin: 20px;
    list-style: none;
    background-color: rgb(168,196,188);
    text-decoration: none;
    background-size: cover;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    overflow: hidden;
}

.info:hover img, .info:hover div, .info:hover h1 {
    filter:blur(1.5px);
    z-index: 0;
    transform:scale(1.1);
}

.info::after {
    margin:0 19px ;
    width:200px;
    height:250px;
    background-size: 70px ;
    background-image: url("../../../../../img/transparente.png");
    content:"";
    position: absolute;
    z-index: -1;
    background-position: center;
}

.info:hover::after {
    margin:0 19px ;
    width:200px;
    height:250px;
    background-image: url("../../../../../img/icon5.png");
    background-size: 60px 60px;
    background-repeat:no-repeat;
    background-position: center;
    content:"";
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.continent {
    font-size: 1em;
    color:rgba(255, 255, 255, 0.603);
    background-color:#2e8888c2;
    height:2rem;
    width:100%;
    padding-top:7px;
    transition: all 0.3s ease-in-out;
}
